.hero {
  background-color: var(--clr-primary-1);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: space-evenly;
}

section {
  margin: var(--margin);
}

.introduction {
  border-radius: 10px;
  background-position: 0 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.nameContainer {
  line-height: 1;
}

/* .aboutMeContainer {
  margin: var(--margin);
  padding: var(--padding);
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */

.descriptionText {
  width: 30vw;
  font-size: var(--font-size);
}

.skillsContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.skillsTop {
  display: flex;
  gap: 20px;
}

.skillsBottom {
  display: flex;
}

.skill {
  text-align: center;
  font-size: var(--font-size);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.skill > img {
  width: 100px;
}

.skill > img:hover {
  animation: wiggle 0.5s ease-in-out;
}

@keyframes wiggle {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
  75% {
    transform: rotate(-3deg);
  }
}

.skill .tooltip {
  margin-top: 10px;
  padding: 3px;
  visibility: hidden;
  border-radius: 5px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.4s;
}

.skill:hover {
  cursor: default;
}

.skill:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.frontend:hover {
  background-color: rgb(0, 0, 0);
}

.backend {
  background-color: rgb(95, 20, 15);
}

/* link styles */
.linkIcons,
a {
  text-decoration: none;
  display: flex;
  gap: 0.35rem;
  flex-wrap: nowrap;
}

.linkIcon > img {
  width: 25px;
  filter: invert(1) sepia(1) saturate(10) hue-rotate(120deg) brightness(0.8)
    contrast(1);
}

.linkIcon > img:hover {
  filter: invert(1) sepia(1) saturate(10) hue-rotate(120deg) brightness(1.5)
    contrast(1);
}
