header {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  font-size: 1.5em;
  background-color: var(--clr-primary-2);
}

.headerLinksContainer {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--margin);
}

.navRoot {
}

.navLinks {
  display: flex;
  gap: 2rem;
}
