main {
  background-color: var(--clr-primary-2);
}

.mainHeader {
  margin: var(--margin);
}

article {
  display: flex;
  flex-direction: column;
  width: 25rem;
  height: auto;
  border: black 3px solid;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.articleContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: start;
  margin: var(--margin);
}

.articleHeader {
  display: flex;
  justify-content: space-between;
}

.articleText {
  padding: var(--padding);
}
.articleImg {
  width: 100%;
  height: auto;
}
