main {
  background-color: var(--clr-primary-2);
}

.mainHeader {
  margin: var(--margin);
}

article {
  display: flex;
  flex-direction: column;
  width: 25rem;
  height: auto;
  border: black 2px solid;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: var(--clr-primary-1);
  margin: 20px 0;
}

.articleContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: start;
  margin: var(--margin);
}

.projectPicture {
  object-fit: inherit;
}

.articleDetails {
  padding: 10px;
}
