.postWrapper {
  margin: var(--margin);
  padding: var(--page-padding);
  background-color: var(--clr-primary-2);
  padding: 3rem;
  display: flex;
  flex-direction: column;
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  justify-content: center;
  padding-bottom: 3rem;
}

.postDetails {
  display: flex;
  width: auto;
  margin-left: 3rem;
}

.postBody {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.header {
  font-weight: 500;
}

.content {
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  text-indent: 3rem;
}
