.projectWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 3rem;
}

.detailsHeading {
  text-decoration: underline;
}

.summaryText {
  font-weight: var(--font-weight);
  font-size: var(--font-size);
}

.linkIcons {
}

.projectLink:hover {
  color: var(--link-hover-color);
  cursor: pointer;
}

.projectImages {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: var(--margin);
}

.projectImagesContainer {
  display: flex;
  gap: 1rem;
  flex-wrap: nowrap;
  padding: 1rem 0 3rem 0;
  max-width: 50vw;
  overflow-y: hidden;
  overflow-x: auto;
}

.currentImage {
  height: 60vh;

  width: auto;
}

.projectImage {
  flex: 0 0 auto; /* Prevent shrinking or growing */
  height: 15vh;
  width: auto;
  scroll-snap-align: center;
}

.projectImage:hover {
  box-sizing: border-box;
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(143, 142, 142, 0.2);
}

.moreDetailsContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: var(--margin);
  padding: 1rem 0 1rem 0;
}

.detailsText {
  font-weight: var(--font-weight);
  font-size: var(--font-size);
}
