/* Font Styling */
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/* Variables */
:root {
  /* dark shades of primary color*/
  --clr-primary-1: #1e3252;
  --clr-primary-2: #2d3136;
  --clr-primary-3: #f7df1e;
  --clr-primary-4: #a24d4b;
  --clr-primary-5: #1e1428;
  --clr-primary-6: #b6789e;
  --clr-primary-7: #5f64a4;
  --clr-primary-8: #7895cd;
  --clr-primary-9: #1e1428;

  --padding: 1.5rem 0;
  --margin: 0 20rem;
  --font-size: 1.75rem;
  --wrap-width: 40vw;
}

/* Global Styling */
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 0.875rem;
  font-weight: 550;
  color: whitesmoke;
  font-family: Roboto, sans-serif, Arial, Helvetica;
  letter-spacing: 1px;
  background-color: var(--clr-primary-1);
}

.outletContainer {
  min-height: 100vh;
  background-image: linear-gradient(
    0deg,
    hsl(217deg 46% 22%) 0%,
    hsl(216deg 43% 22%) 1%,
    hsl(216deg 40% 21%) 3%,
    hsl(215deg 36% 21%) 9%,
    hsl(215deg 32% 21%) 53%,
    hsl(215deg 27% 20%) 89%,
    hsl(214deg 23% 20%) 96%,
    hsl(214deg 18% 20%) 99%,
    hsl(214deg 14% 20%) 100%,
    hsl(213deg 9% 19%) 100%
  );
}

ul {
  list-style-type: none;
}

a {
  color: whitesmoke;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
}

/* global style for link icons */

@media screen and (max-width: 900px) {
  :root {
    --margin: 0 2rem;
    --padding: 0.5rem;
    --wrap-width: 80vw;
  }

  .aboutMeContainer {
    height: auto;
    padding: 1rem;
  }

  .articleContainer {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .article {
    width: auto;
  }

  .footerBlocksContainer {
    flex-direction: column;
    height: auto;
    padding: 1rem;
  }

  .footerLinksContainer {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  :root {
    --margin: 0 5rem;
    --padding: 1rem;
  }

  .articleContainer {
    display: flex;
    justify-content: center;
    margin: var(--margin);
  }

  .article {
    width: 100%;
  }
}
