/* Font Styling */
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/* Variables */
:root {
  /* dark shades of primary color*/
  --clr-primary-1: #212121;
  --clr-primary-2: #2b706e;
  --clr-primary-3: #0d7377;
  --clr-primary-4: #14ffec;
  --clr-primary-5: #e0d4ba;
  --clr-primary-6: #479597;

  --padding: 0.75rem 0;
  --margin: 0 15rem;
  --font-size: 1.5rem;
}

/* Global Styling */
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 0.875rem;
  font-weight: 550;
  color: whitesmoke;
  font-family: Roboto, sans-serif, Arial, Helvetica;
  letter-spacing: 1px;
}

ul {
  list-style-type: none;
}

a {
  color: whitesmoke;
}

a:hover {
  color: var(--clr-primary-3);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
}

/* global style for link icons */
.linkIcons,
a {
  text-decoration: none;
  display: flex;
  gap: 0.35rem;
  flex-wrap: nowrap;
}

.linkIcon > img {
  width: 25px;
  filter: invert(1) sepia(1) saturate(10) hue-rotate(120deg) brightness(0.8)
    contrast(1);
}

.linkIcon > img:hover {
  filter: invert(1) sepia(1) saturate(10) hue-rotate(120deg) brightness(1.5)
    contrast(1);
}

@media screen and (max-width: 600px) {
  :root {
    --margin: 0 2rem;
    --padding: 0.5rem;
  }

  .aboutMeContainer {
    height: auto;
    padding: 1rem;
  }

  .articleContainer {
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin: 0;
  }

  .article {
    width: auto;
  }

  .footerBlocksContainer {
    flex-direction: column;
    height: auto;
    padding: 1rem;
  }

  .footerLinksContainer {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  :root {
    --margin: 0 5rem;
    --padding: 1rem;
  }

  .articleContainer {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin: var(--margin);
  }

  .article {
    width: 100%;
  }
}
